<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FS-Classroom -  Home</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./style.css" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="mainContainer">
      <div class="container">
        <h2>WELCOME TO OUR CLASS</h2>
        <div class="formContainer">
          <h3>Proceed To Our Class</h3>
          <form action="/classroom" method="get">
            <button class="waves-effect waves-light btn-large" type="submit">ENTER</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>


<!--
index[i].students[x].name
index[i].students[x].scores[y]
index[i].students[x].grade
index[i].students[x].id
index[i].subject
index[i].id
-->
